body {
    background: linear-gradient(90deg, rgba(1, 1, 20, 0.995), rgba(0, 0, 40, 0.9));
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    display: flex;
    flex-direction: column;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.top{
    display: flex;
    
}

h3{
    color:white;
    display: flex;
    justify-self: flex-start;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    width: 100px;
    height: 100px;
    opacity: 30%;
    animation: spin 15s ease-in-out infinite;

}

@keyframes spin{
    from{
        transform: rotate (0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}

.nav-buttons{
    margin-left: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 30%);
    width: 400px;
    height: 70px;

}

.nav-buttons button{
    background-color: rgba(255, 255, 255, 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid white;
    transition: 100ms;
}

.homeBtn:hover, .workBtn:hover{
    transform: translateY(-3px);
    transition: 100ms;
    box-shadow: rgb(10, 10, 10, 0.7) 0px 5px 5px;
}

.aboutBtn{
    transform: translateY(-5px);
    box-shadow: rgb(255, 255, 255, 0.6) 0px 2px 2px, 
    rgba(255, 255, 255, 0.3) 0px 5px 5px,
     rgba(255, 255, 255, 0.2) 0px 7px 5px;
    transition: box-shadow 0.2s ease-in-out;
    
}


.mid{
    border: 2px solid red;
    display: flex;
    padding-top: 50px;
    width: 80%;
    height: 100vh;
    margin-left:10%;
    margin-top: 10px;
    flex-direction: column;
    
    
}


.mid-container{
    width: 80%;
    margin-left: 10%;
    display: grid;
    gap: 4%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "item1 item2" 
    "item3 item4"
    "item5 item6"
    ;
}

#item1{
    grid-area: item1;
    background-color: rgb(20, 20, 90);
    animation-name: item1;
    animation-duration: 500ms;
    animation-timing-function: ease;
    border-radius: 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
@keyframes item1{
from{
    opacity: 0;
    transform: translateX(2000px);
}
to{
    opacity: 1;
}
}


#item2{
    grid-area: item2;
    background-color: rgb( 10, 20, 90);
    animation-name: item2;
    animation-duration: 600ms;
    animation-timing-function: ease;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes item2{
    from{
        opacity: 0;
        transform: translateX(2000px);
    }
    to{
        opacity: 1;
    }
}

#pic{
    border-radius: 300px;
    border: 2px solid white;
    animation-name: pic;
    animation:normal;
    animation-duration: 30s;
    animation-timing-function: ease;
}
@keyframes pic{
    

}

#item3{
    grid-area: item3;
    background-color: rgb(20, 30, 90);
    animation-name: item3;
    animation-duration: 900ms;
    animation-timing-function: ease;
    border-radius: 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
@keyframes item3{
    from{
        opacity: 0;
        transform: translateX(2000px);
    }
    to{
        opacity: 1;
    }
}

#item4{
    grid-area: item4;
    background-color: rgb(20, 40, 90);
    animation-name: item4;
    animation-duration: 700ms;
    animation-timing-function: ease;
    border-radius: 8px;
}
@keyframes item4{
    from{
        opacity: 0;
        transform: translateX(2000px);
    }
    to{
        opacity: 1;
    }
}

#item5{
    grid-area: item5;
    background-color: rgb(40, 60, 110);
    animation-name: item4;
    animation-duration: 1100ms;
    animation-timing-function: ease;
    border-radius: 8px;
}
@keyframes item5{
    from{
        opacity: 0;
        transform: translateX(2000px);
    }
    to{
        opacity: 1;
    }
}

#item6{
    grid-area: item6;
    background-color: rgb(0, 50, 90);
    animation-name: item4;
    animation-duration: 800ms;
    animation-timing-function: ease;
    border-radius: 8px;
}
@keyframes item6{
    from{
        opacity: 0;
        transform: translateX(2000px);
    }
    to{
        opacity: 1;
    }
}


