body {
    background-color: rgba(1, 1, 35, 0.995);
    display: flex;
    flex-direction: column;

}

.top{
    display: flex;
    justify-content: center;
    
}

.nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 20%);
    width: 25em;
    height: 5em;

}

.nav-buttons button{
    background-color: rgba(255, 255, 255, 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    height: 3em;
    width: 6em;
    border-radius: 20px;
    border: 1px solid white;
    transition: 100ms;
}

.homeBtn:hover, .workBtn:hover{
    transform: translateY(-3px);
    transition: 100ms;
    box-shadow: rgb(10, 10, 10, 0.7) 0px 5px 5px;
}

.aboutBtn{
    transform: translateY(-5px);
    box-shadow: rgb(10, 10, 10, 0.7) 0px 7px 7px;
    
}

/*-------------MIDDLE SECTION----------*/

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.mid{
    display: flex;
    min-width: 30em;
    width: 60%;
    padding-top: 25px;
    height: 100vh;
    margin-left: 10%; 
}

.mid-socials{
    height: 500px;
    width: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}

.mid-socials button{
    height: 50px;
    width: 50px;
    border-radius: 40px;
}
 
#linkedin{
    font-size: 30px;
    background-color: rgb(0, 114, 177);
    border: none;
    animation-name: linkedin;
    animation-duration: 800ms;
    animation-timing-function: ease;
}
@keyframes linkedin{
    from{
        opacity: 0;
        /*transform: translateX(-2700px);*/
    }
    to{
        opacity: 1;
    }
    }


#email{
    font-size: 30px;
    background-color: rgb(177, 18, 18);
    border: none;
    animation-name: email;
    animation-duration: 800ms;
    animation-timing-function: ease;
}
@keyframes email{
    from{
        opacity: 0;
        /*transform: translateX(-2700px);*/
    }
    to{
        opacity: 1;
    }
    }




#github{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(110, 84, 148);
    border: none;
    animation-name: github;
    animation-duration: 800ms;
    animation-timing-function: ease;
}
@keyframes github{
    from{
        opacity: 0;
        /*transform: translateX(-2700px);*/
    }
    to{
        opacity: 1;
    }
    }



.mid-container{
    width: 100%;
    display: grid;
    gap: 10px;
    overflow: hidden;
    grid-template-columns: 1.8fr;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: 
    "item1" 
    "item3"
    "item5"
    ;
}

@media only screen and (max-width: 1200px){
    .mid-container{
        display: grid;
        width: 100%;
        margin-left: 20px;
        overflow: hidden;
        gap: 3px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "item1"
        "item3"
        "item5"
        ;
    }
   
}


#item1{
    grid-area: item1;
    background-color: rgb(20, 20, 90);
    animation-name: item1;
    animation-duration: 500ms;
    animation-timing-function: ease;

    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    border-left: 4px solid rgb(255, 255, 255);
    color: white;
    font-family: 'Trebuchet MS';
    font-size: 1rem;
}
@keyframes item1{
from{
    opacity: 0;
    transform: translateX(2000px);
}
to{
    opacity: 1;
}
}
#titles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#title em{
    font-style: normal;
    opacity: 50%;
}
#date{
    font-size: 1rem;
    opacity: 50%;
    
}
#desc{
    flex-grow: 1;
}
 li{
    margin-top: .5em;
 }


#item2{
    grid-area: item2;
    background-color: rgb( 20, 20, 90);
    animation-name: item2;
    animation-duration: 600ms;
    animation-timing-function: ease;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes item2{
    from{
        opacity: 0;
        transform: translateX(2000px);
    }
    to{
        opacity: 1;
    }
}


#item3{
    grid-area: item3;
    background-color: rgb(20, 30, 90);
    animation-name: item3;
    animation-duration: 600ms;
    animation-timing-function: ease;

    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    border-left: 4px solid rgb(255, 255, 255);
    color: white;
    font-family: 'Trebuchet MS';
    font-size: 1rem;
}
@keyframes item3{
    from{
        opacity: 0;
        transform: translateX(2000px);
    }
    to{
        opacity: 1;
    }
}

#item4{
    grid-area: item4;
    background-color: rgb(20, 40, 90);
    animation-name: item4;
    animation-duration: 700ms;
    animation-timing-function: ease;
    border-radius: 8px;
}
@keyframes item4{
    from{
        opacity: 0;
        transform: translateX(2000px);
    }
    to{
        opacity: 1;
    }
}

#item5{
    grid-area: item5;
    background-color: rgb(40, 60, 110);
    animation-name: item4;
    animation-duration: 700ms;
    animation-timing-function: ease;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    border-left: 4px solid rgb(255, 255, 255);
    color: white;
    font-family: 'Trebuchet MS';
    font-size: 1rem;
}
@keyframes item5{
    from{
        opacity: 0;
        transform: translateX(2000px);
    }
    to{
        opacity: 1;
    }
}

#item5 #date{
    font-size: 15px;
}

#item6{
    grid-area: item6;
    background-color: rgb(0, 50, 90);
    animation-name: item4;
    animation-duration: 800ms;
    animation-timing-function: ease;
    border-radius: 8px;
}
@keyframes item6{
    from{
        opacity: 0;
        transform: translateX(2000px);
    }
    to{
        opacity: 1;
    }
}


